/*-----header-----*/
img {
  display: block;
    margin-left: auto;
    margin-right: auto;
}
.responsive {
  max-width: 100%;
  height: auto;
}
/*-----navigation bar section-----*/
#nav{
  border-radius: 8px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    #li1{
      float: left;
    }
  }
li a {
    display: block;
    color: #f2bfdc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
li a:hover {
    background-color: #111;
  }


  /*-----headings-----*/
h3, h2, h1 {
  font-family: "Lobster", Arial, Helvetica, sans-serif;
  font-size: xx-large;
  text-align: center;
}


/*-----overall body style-----*/
body{
    background-color: #f2bfdc;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: larger;
}
section, div {
  margin: 20px;
  border: 2px solid #333;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}


  /*-----fave tv shows-----*/
#shows {
    border-collapse: collapse;
    width: 100%;
    background-color: #333;
  }
#shows td, #shows th {
    border: 2px solid #333;
    text-align: center;
    padding: 10px;
  }
#shows tr:nth-child(even) {
    background-color: #f2bfdc;
  }
#tahe, #got, #twot{
    color: #f2bfdc;
  }
#atla a, #aot a{
 color: #333;
 font-weight: 900;
}
#got a:hover, #twot a:hover{
    background-color: #111;
    padding: 11px;
  }
#got a, #twot a {
    color: #f2bfdc;
    font-weight: 900;
}
#atla a:hover, #aot a:hover{
    background-color: #ea97c6;
    padding: 11px;
}


/*-----footer-----*/
footer{
    text-align: center;
    background-color: #333;
    color: #f2bfdc;
    order: 2px solid #333;
    border-radius: 8px;
}
footer a{
   color: #f2bfdc;
   font-weight: 900;
}
footer a:hover{
    background-color: #111;
    padding: 5px;
}
#date {color: #f2bfdc;
}


/*-----button style-----*/
button {
  margin: 10px;
  border: 2px solid #ea97c6;
  border-radius: 8px;
  padding: 10px;
  color: #111;
  background-color: #ea97c6;
  font-family: "Sansita", Arial, Helvetica, sans-serif;
  font-size:large
}
.even {
  color: red;
}
.odd {
  color: blue;
}